<ion-header>
  <ion-toolbar>  
    <!--BOTÓN ATRÁS-->
    <ion-button slot="start" (click)="close()">
      <ion-icon name="close" fill="clear"></ion-icon>
    </ion-button>

    <!--BOTÓN FAVORITOS-->
    <ion-button color="danger" (click)="guardatfav()">
      <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
    </ion-button>

    <!--BOTÓN ELIMINAR-->
    <ion-button color="danger" (click)="RemovePeli(peli.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
    </ion-button>

    <ion-title>{{peli.Titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item *ngIf="peli">
      <ion-label position="stacked">Título <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" placeholder="Titulo" [(ngModel)]="peli.Titulo"></ion-input>
    </ion-item>

    <ion-item *ngIf="peli">
      <ion-label>Género <ion-text color="danger">*</ion-text></ion-label>
      <ion-select placeholder="Elegir..." [(ngModel)]="peli.Genero" multiple="true">
        <ion-select-option value="Acción">Acción</ion-select-option>
        <ion-select-option value="Aventuras">Aventura</ion-select-option>
        <ion-select-option value="Animación">Animación</ion-select-option>
        <ion-select-option value="Ciencia Ficción">Ciencia Ficción</ion-select-option>
        <ion-select-option value="Drama" >Drama</ion-select-option>
        <ion-select-option value="Terror">Terror</ion-select-option>
        <ion-select-option value="Musical">Musical</ion-select-option>        
        <ion-select-option value="Suspense">Suspense</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="peli">
      <ion-label position="stacked">Director</ion-label>
      <ion-input required type="text" placeholder="Director" [(ngModel)]="peli.Director"></ion-input>
    </ion-item>

    <ion-item *ngIf="peli">
      <ion-label position="floating">Duración</ion-label>
      <ion-input type="text" placeholder="Duracion" [(ngModel)]="peli.Duracion"></ion-input>
    </ion-item>

    <ion-item *ngIf="peli">
      <ion-label>Calificación</ion-label>
      <ion-select placeholder="Elegir..." [(ngModel)]="peli.Calificacion" multiple="true">
        <ion-select-option value="Mayor18">Mayores de 18</ion-select-option>
        <ion-select-option value="familia">Para toda la familia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="peli">
      <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea placeholder="Escribe aquí" [(ngModel)]="peli.Descripcion"></ion-textarea>
    </ion-item>
    
    <ion-item *ngIf="peli">
      <ion-label position="floating">Imagen</ion-label>
      <ion-input type="text" placeholder="Pegue la url aquí" [(ngModel)]="peli.img"></ion-input>
    </ion-item>
    
      <ion-button expand="block" (click)="savePelis()">Actualizar datos</ion-button>
  </ion-list>
</ion-content>